<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-title class="app-title ion-text-center"> News Piper </ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-card
		*ngFor="let article of data?.articles"
		(click)="onGoToNewsSinglePage(article)"
	>
		<ion-img [src]="article.urlToImage"></ion-img>
		<ion-card-content>
			<ion-card-title class="article-title">
				{{article.title | split: "-"}}
			</ion-card-title>
			<ion-button class="ion-margin-top" color="tertiary" expand="full" fill="outline">
				{{article.source.name}}
			</ion-button>
		</ion-card-content>
	</ion-card>
</ion-content>
