ion-header .source-header {
    font-family: 'Anton', sans-serif;
    font-size: 1.8em;
    // padding-bottom: 0%;
    // margin-bottom: 0%;
}

ion-col.text {
    padding: 0 1rem;

    .inside-title {
        font-family: 'Vollkorn', serif;
        font-weight: 500;
        font-size: x-large;
    }
    
    .description {
        font-family: 'Raleway', sans-serif;
    }

    .content {
        font-family: 'Open Sans', sans-serif;
    }
    .author-icon {
        margin-right: 0.3rem;
        font-size: 1em;
        padding-bottom: 0%;
        margin-bottom: 0%;
    }
    
    .author-name {
        font-family: 'Vollkorn', serif;
        font-size: 1em;
        opacity: 0.7;
    }
    
    .date {
        font-size: smaller;
        opacity: 0.5;
    }
}

