ion-col.text {
    padding: 0 1rem;

    .inside-title {
        font-family: 'Vollkorn', serif;
        font-weight: 500;
        font-size: x-large;
    }
    
    .description {
        font-family: 'Raleway', sans-serif;
    }

    .content {
        font-family: 'Open Sans', sans-serif;
    }
}

.author-icon {
    margin-right: 0.3rem;
}



