<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button color="tertiary"></ion-back-button>
		</ion-buttons>
		<ion-title color="tertiary" class="source-header">
			{{article.source.name}}
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-grid class="ion-no-padding">
		<ion-row>
			<ion-col class="ion-no-padding">
				<ion-img [src]="article.urlToImage"></ion-img>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col class="text">
				<h1 class="inside-title">{{article.title | split: "-"}}</h1>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col class="text">
				<p class="description">{{article.description}}</p>
				<ion-item>
					<ion-label class="author-name">
						<ion-icon
							slot="start"
							name="person-outline"
							class="author-icon"
						></ion-icon>
						{{article.author}}
					</ion-label>
				</ion-item>
				<ion-item>
					<ion-label class="date">
						{{article.publishedAt | date: 'longDate'}}
					</ion-label>
				</ion-item>
				<p class="content">{{article.content | split: "["}}</p>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<ion-buttons class="ion-margin">
					<ion-button (click)="openArticle()" color="warning" fill="solid">
						Continue reading
					</ion-button>
				</ion-buttons>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
